/* mobile first */
.earth-banner {
  position: absolute;
  top: 20%;
  transform: translateX(100vw);
  width: 60%;
}

.main-section__content {
  transform: translateX(-100vw);
}

/* Tablet */
@media (min-width: 768px) {
  .earth-banner {
    top: 13%;
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .earth-banner {
    top: 10%;
    width: 55%;
  }
}
