/* mobile first */
.earth-banner {
  position: absolute;
  transform: translateX(100vw);
  top: 0;
}

.main-section__content {
  transform: translateX(-100vw);
}

/* Tablet
// @media (min-width: 768px) {

// @media (min-width: 1024px) {
