@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #143b65;
  --secondary: #cde7e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-satoshi: var(--font-satoshi);
  --font-mont-black: var(--font-mont-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

section {
  background: var(--background);
  color: var(--foreground);
  padding: 3em 1em;
  font-family: var(--font-satoshi);
}

.slider {
  overflow: hidden;
  width: 100%;
}

.slider__row {
  display: flex;
  gap: 16px;
  animation: sliderLeft 30s linear infinite;
  width: max-content;
}

.slider__box {
  min-width: 200px;
}

@keyframes sliderLeft {
  from {
    transform: translateX(0);
  }
  to {
    /* -8px is just the half of the gap value (16px) in order to avoid the "jump"*/
    transform: translateX(calc(-50% - 8px));
  }
}

@keyframes scroll-left {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@utility animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}
