@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #143b65;
  --secondary: #cde7e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-satoshi: var(--font-satoshi);
  --font-mont-black: var(--font-mont-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scroll-left {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@utility animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

section {
  background: var(--background);
  color: var(--foreground);
  padding: 3em 1em;
  font-family: var(--font-satoshi);
}

